SECRET_KEY='django-insecure-ze^dz35h*hu_v5a1vq$^rw^hs#=5gicl**lq5!pak7_(xlxik)'
SUPER_USER_EMAIL=adm@adm.ru
SUPER_USER_NAME=admin
SUPER_USER_PASSWORD=admin
DEBUG=True


POSTGRES_HOST=db
POSTGRES_PORT=5436
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=123
